.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #61dafb;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


#board{
  height: 75vmin;
  width: 75vmin;
  display: grid;
  margin-top: auto;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: azure;
  border: 1px solid;
  border-radius: 5px;
}
#egg{
  height: 22px;
  width: 22px;
}

.food{
  color: rgb(168, 109, 68);
  z-index: 0;
  /* size: 2px; */
  animation: pulse 0.7s ease-in infinite;
}
@keyframes pulse{
  25%  {transform: scale(0.8);}
  75%  {transform: scale(0.9);}
}
.snake{
  background-color: gold;
  border-radius: 8px;
  border: 1px solid;
}
.head{
  background-color: red;
  border-radius: 8px;
  border: 1px solid;
  z-index: 1;
  
}
#startbtn{
float:right;
}
#gameovercard{
  color: #ffe400;
  font-weight: Bold;
  font-size: 25px;
  text-shadow: 1px 2px black;
}
#controls{
  display: flex;
  margin: auto;
}


@media only screen and (min-width: 500px) {
  .hidecont{
    display: none;
  }
  #hidecont2{
    display: none;
  }
}